@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|PT+Serif:400,400i,700');
.nav {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0;
  
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #2d1a15);
    /* background-image: linear-gradient(to right, rgba(205, 5, 5, 0.452), rgba(255, 0, 0, 0)); */
    z-index: 1000;
  }
  .filtercontainer{
display: flex;
flex-direction: row;
width: 200px;
margin-left: 8%;
  }
  
  .a {
    position: absolute;
    float: right;
    left: 90%;
  }
  
  .a {
    font-family: 'Water Brush', cursive;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 3px ;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 10px;
    width: 100px;
  }
  
  .a:hover {
    background-color: rgba(220, 3, 3, 0.341);
      color: rgb(5, 3, 0);
      border-radius: 20px;
    transition: all 0.2s ease;
    border-bottom: solid 2px silver;
    border-right: solid 2px silver;
    border-radius:  20px ;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.765);
  }
  
  .filtros{
      color: rgb(205, 205, 205);
      background-color: rgba(0, 0, 0, 0.467);
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 10px;
    margin-right: 5px;
  }
  .filtros:hover {
    /* background-color: rgba(255, 255, 255, 0.341);
      color: rgb(5, 3, 0);
      border-radius: 20px; */
    transition: all 0.2s ease;
    border-bottom: solid 2px silver;
    border-right: solid 2px silver;
    border-radius:5px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.765);
  }
  .add {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0.4em 1.1em 0.4em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    /* box-shadow: 0 0.7em 1.5em -0.5em #14a73e98; */
    letter-spacing: 0.05em;
    border-radius: 20em;
   }
   
   .add svg {
    margin-right: 6px;
   }
   
   .add:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
   }
   
   .add:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
   }
.divp{

  width: 100px;
  position: absolute;
  float: right;
  margin-left: 1%;
}
.none{
  text-decoration: none;
}